
@{
    ViewBag.Title = "Index";
}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Music Club A Music Category Flat Bootstarp Resposive Website Template | Album :: w3layouts</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/js/jquery.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Music Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/modernizr.custom.97074.js"></script>
    <script src="~/js/jquery.chocolat.js"></script>
    <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('.gallery a').Chocolat();
        });
    </script>

</head>
<body>
    <!--header-->
    <div class="header header-main">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <h1><a href="/Home/indix">Phone Store</a></h1>
                </div>
                <div class="top-nav">
                    <span class="menu"><img src="images/menu.png" alt=""> </span>
                    <ul>
                        <li><a href="/Client/Index" class="hvr-sweep-to-bottom color"><i class="glyphicon glyphicon-home"></i>Clients </a> </li>
                        <li><a href="/Categorie/Index" class="hvr-sweep-to-bottom color1"><i class="glyphicon glyphicon-picture"></i>Categories</a> </li>
                        <li><a href="/Produit/Index" class="hvr-sweep-to-bottom color2"><i class="glyphicon glyphicon-tags"></i>Produits</a></li>
                        <li><a href="/Commande/Index" class="hvr-sweep-to-bottom color3"><i class="glyphicon glyphicon-calendar"></i>Commandes</a></li>
                        <li><a href="/Messenger/Index" class="hvr-sweep-to-bottom color4"><i class="glyphicon glyphicon-envelope"></i>Messages</a></li>
                        <li><a href="/Client/Logout" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>Deconnection</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <!--script-->
                    <script>
                        $("span.menu").click(function () {
                            $(".top-nav ul").slideToggle(500, function () {
                            });
                        });
                    </script>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>


    <div id="message" class="container" style="margin-top:4%">
        <input class="form-control" type="text" v-model="filtermsg" placeholder="Chercher Un Message" /> <br />
        <table class="table table-bordered">
            <tr>
                <th>Destinateur</th>
                <th>Email du Destinataire</th>
                <th>Sujet</th>
                <th>Message</th>
            </tr>
            <tr v-for="message in filtredmsgs">
                <td>{{message.name}}</td>
                <td>{{message.email }}</td>
                <td>{{message.sujet }}</td>
                <td>{{message.MESSAGE }}</td>
            </tr>

        </table>
    </div>

    <div class="footer">
        <div class="container">
            <h2><a href="/Home/indix">Music Club</a></h2>
            <ul>
                <li><a href="/Client/Index">Gestion Des Clients</a> </li>
                <li><a href="/Categorie/Index">Gestion Des Categories</a> </li>
                <li><a href="/Produit/Index">Gestion Des Produits</a></li>
                <li><a href="/Commande/Index">Liste Des Commandes</a></li>
                <li><a href="/Messenger/Index">Messages</a></li>
                <div class="clearfix"> </div>
            </ul>
            <p> © 2019 Phone Store</p>
        </div>
    </div>
    <!--//footer-->
</body>
</html>