@{ if (Session["iduser"] == null)
    {
        Response.Redirect("/Client/Login");
    }
}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Music Club A Music Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
        <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="~/js/jquery.min.js"></script>
        <!-- Custom Theme files -->
        <!--theme-style-->
        <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Music Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>
    <body>
        <!--header-->
        <div class="header">
            <div class="container">
                <div class="header-top">
                    <div class="logo">
                        <h1><a href="index.html">Phone Shop</a></h1>
                    </div>
                    <div class="top-nav">
                        <span class="menu"><img src="~/images/menu.png" alt=""> </span>
                        <ul>
                            <li><a href="/Home/acoy" class="hvr-sweep-to-bottom color"><i class="glyphicon glyphicon-home"></i>Home</a> </li>
                            <li><a href="/Home/Indix" class="hvr-sweep-to-bottom color1"><i class="glyphicon glyphicon-picture"></i>Produits</a> </li>
                            <li><a href="/Home/kontakter" class="hvr-sweep-to-bottom color2"><i class="glyphicon glyphicon-tags"></i>Contacter</a></li>
                            <li><a href="/Client/Logout" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>Deconnection</a></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <!--script-->
                        <script>
                            $("span.menu").click(function () {
                                $(".top-nav ul").slideToggle(500, function () {
                                });
                            });
                        </script>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="banner-main">
                    <section class="slider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <div class="banner-matter">
                                        <h3>Chez Nous La qualité</h3>
                                        <p>Chez Nous La qualité Chez Nous La qualité Chez Nous La qualité</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-matter">
                                        <h3>Plusieurs Gammes diponibles</h3>
                                        <p>Chez Nous La qualité Chez Nous La qualité Chez Nous La qualité</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-matter">
                                        <h3>De Bonnes Prix</h3>
                                        <p>Chez Nous La qualité Chez Nous La qualité Chez Nous La qualité</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>

                <!--FlexSlider-->
                <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
                <script defer src="~/js/jquery.flexslider.js"></script>
                <script type="text/javascript">
                    $(function () {
                        SyntaxHighlighter.all();
                    });
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            start: function (slider) {
                                $('body').removeClass('loading');
                            }
                        });
                    });
                </script>

            </div>
        </div>
        <!--//header-->
        <!--footer-->
        <div class="footer">
            <div class="container">
                <h2><a href="index.html"> Phone Store</a></h2>

                <ul>
                    <li><a href="/Home/acoy">Home  </a> </li>
                    <li><a href="/Home/indix">Produits</a> </li>
                    <li><a href="/Home/kontakter">Contacter</a></li>
                    <div class="clearfix"> </div>
                </ul>
                <p> © 2019 Phone Store</p>
            </div>
        </div>
        <!--//footer-->
    </body>
</html>
